.Dictionary {
  text-align: center;
  background-color: #fffbf8;
}

.Dictionary section {
  padding: 40px;
  background-color: #fffbf8;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0, 0, 0 /10%);
  margin-top: 10px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
