.Dictionary {
  text-align: center;
}

.Dictionary h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

.Dictionary h2 {
  margin-bottom: 40px;
}
.Dictionary section {
  padding: 30px;
  margin-bottom: 15px;
  background-color: #fffbf8;
  border-radius: 6px;
  margin-top: 30px 0;
  display: block;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
