.Phonetic-text {
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 60px;
  padding: 8px 30px;
  transition: all 0.15s ease-in-out;
  display: block;
  max-width: 300px;
  height: 54px;
  border-radius: 50px;
}

.Phonetic-text:hover {
  background: #ad6476;
  color: white;
}

.react-audio-player {
  max-width: 300px;
  height: 54px;

  margin: 0px 8px 0px 12px;
}

div .col {
  margin: 0;
  padding: 0;
  display: block;
}
